
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*padrao em todos os asquivos*/
* {
    margin: 0;
    padding: 0;
}


:root {

    --fonte-primaria: "Oswald", sans-serif;
}



body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 100vh;           /* Ocupa a altura total da página */
    margin: 0;               /* Remove as margens padrão do body */
    background-color: #000000;  /* Cor de fundo branco */


}

/* Define o estilo da caixa */
.box {
    width: 500px;            /* Largura da caixa */
    height: 650px;           /* Altura da caixa */
     /* background-color: #4CAF50; Cor de fundo verde claro */
    border-radius: 70px;
    border: 5px solid #ffffff;
    
    font-family: var(--fonte-primaria);
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 40px;
}

.botoes {
    display: flex;              /* Ativa o modo flexbox */
    flex-direction: column;     /* Organiza os itens em coluna */
    gap: 20px;                 /* Espaçamento entre os botões */
    justify-content: center;         /* Centraliza verticalmente */
    align-items: center;             /* Centraliza horizontalmente */
    height: 500px;  
}









.glow-on-hover {
    width: 300px;
    height: 70px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: var(--fonte-primaria);
    font-size: 35px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff00c8, #002bff, #7a00ff, #ff00c8);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
